
h1{
  text-align: center;
  margin-bottom: 50px;
  background-color: tomato;
}


.col {
  columns: 100px 2;
  column-gap: 20px;
  background-color: black;
}

.col-item {
  background-color: pink;
  border: 1px solid yellow;
  padding: 40px;
  margin: 24px;
}

.container{
  background-color: tomato;
}

@media screen and (max-width: 786px) {
  .col {
    columns: auto 1; 
    width: 100%; 
  }

  .col-item {
    margin: 12px; 
    padding: 20px; 
  }
}