.navbar{
    color: rgb(255, 191, 191);
    background-color: black;
    border: 5px solid rgb(219, 86, 19);
    margin-top: -8px;
    margin-right: -8px;
    margin-left: -10px;
    
}
.navbar li{
    font-weight: bold;
    display: inline;
    padding: 80px 90px 200px;
    flex:auto;
    
}

.imgclass{
    border: 3px solid rgb(230, 28, 28);
    align-items: center;
}
