body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffffd8;
    padding: 80px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Added to create space between container and timeResult */
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
}

#timeResult {
    color: rgb(210, 8, 210);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
